@media (max-width: 1200px)
    .hero
        &__text
            h1
                font-size: 2rem
        &__illustration
            &__scheme
                width: 100%
                div
                    height: 150px

@media (max-width: 992px)
    .elements
        display: none
    .header
        &__links
            flex-wrap: wrap-reverse
            &__logo
                order: 2
        &__menu
            &__open-menu
                order: 1
                display: block
            &__close-menu
                display: block
            ul
                display: flex
                flex-direction: column
                list-style-type: none
                align-items: normal
                li
                    margin-right: 0
            &__link
                transition: color .15s ease
                position: relative
                padding: 0
                &::before
                    content: ''
                    position: absolute
                    left: 0
                    bottom: 0
                    background-color: #0b0c32
                    height: 2px
                    width: 0
                    transition: width .15s ease
                &:focus
                    &::before
                        width: 100%
                &.active
                    &::after
                        content: none
    .hero
        &__illustration
            &__scheme
                transform: skew(0, 0)
                div
                    height: 125px
    .pages
        &__scheme
            div
                height: 56px
        &__examples
            width: 100%

@media (max-width: 768px)
    .hero
        &__text
            width: 100%
            text-align: center
        &__illustration
            display: none
    .pages
        &__block
            padding: 30px 0
            &__content
                row-gap: 10px
            &__title
                margin-bottom: 10px
            &__link
                margin-top: 10px
        &__properties
            flex-wrap: wrap-reverse
            row-gap: 20px
            margin-top: 0
            &__block
                width: 100%
        &__examples
            margin-top: 0
            &__links
                gap: 5px
        &__scheme
            transform: skew(0, 0)
        &__example
            height: 300px
            width: 300px
    .footer
        padding: 10px 0
        margin-top: 50px
    .page-content
        padding: 0
        box-shadow: none
    .page-banner
        height: 180px
        margin-bottom: 30px
        &__background
            font-size: 4rem
    .page-block
        margin-bottom: 30px
        &__title
            margin-bottom: 10px
        &__text
            text-align: justify
            img
                width: 100%
        &__schemes
            margin: 10px 0
            gap: 10px
            &__row, &__column, &__justify-content, &__align-items, &__align-content, &__gap
                gap: 10px
        &__scheme
            max-width: 210px!important
            div
                width: 40px
                height: 40px
            span
                font-size: 0.875rem
            &.flex-wrap, &.flex-wrap-reverse
                max-width: 210px
                img.arrow
                    width: 80%
            &.align-items-flex-start, &.align-items-flex-end, &.align-items-center, &.align-items-center, &.align-items-stretch, &.align-items-baseline
                height: 150px
                div
                    &:nth-of-type(1)
                        height: 40px
                    &:nth-of-type(2)
                        height: 56px
                    &:nth-of-type(3)
                        height: 24px
                    &:nth-of-type(4)
                        height: 64px
            &.align-items-stretch
                div
                    &:nth-of-type(n)
                        height: auto
            &.align-content-flex-start, &.align-content-flex-end, &.align-content-center, &.align-content-stretch, &.align-content-space-between, &.align-content-space-around, &.align-content-space-evenly
                height: 180px

@media (max-width: 576px)
    .header
        &__menu
            &__open-menu
                padding: 19.82px 0
        &__links
            &__logo
                padding: 4.4px 0
    .hero
        margin-bottom: 50px
        &__text
            h1
                margin: 0 0 20px 0
                font-size: 1.5rem
    .pages
        &__scheme
            div
                height: 48px
                &:nth-of-type(1)
                    display: none
                &:nth-of-type(2)
                    display: none
                &:nth-of-type(3)
                    display: none
                &:nth-of-type(4)
                    display: none
        &__examples
            padding: 10px
            &__links
                flex-wrap: wrap
                margin-top: 10px
                transform: translateY(0)
                position: unset
                a:nth-last-child(2)
                    display: none
    .footer
        text-align: center
    .page-banner
        height: 120px
        &__background
            font-size: 2rem
            letter-spacing: 0
        &__title
            font-size: 1.5em
    .page-block
        &__schemes
            flex-wrap: wrap
            &__row, &__column
                width: 100%
        &__scheme
            max-width: 210px!important

@media (max-width: 375px)
    .pages
        &__examples
            background: transparent
            box-shadow: none
            margin-top: 0
            &__links
                margin-top: 0
                a
                    display: none
                    &:last-child
                        display: block
        &__example.active
            display: none