@media (max-width: 1200px)
    .page-container
        width: 80%
    .hero
        &__text
            h1
                font-size: 2rem
        &__illustration
            &__scheme
                width: 100%
                div
                    height: 150px
    .modal
        &__content
            &__scheme
                padding: 50px

@media (max-width: 992px)
    .page-container
        width: 100%
        padding: 0 30px
    .elements
        display: none
    .header
        &__links
            flex-wrap: wrap-reverse
            &__logo
                order: 2
        &__menu
            &__open-menu
                order: 1
                display: block
            &__close-menu
                display: block
            ul
                display: flex
                flex-direction: column
                list-style-type: none
                align-items: normal
                li
                    margin-right: 0
            &__link
                transition: color .15s ease
                position: relative
                padding: 0
                &::before
                    content: ''
                    position: absolute
                    left: 0
                    bottom: 0
                    background-color: #0b0c32
                    height: 2px
                    width: 0
                    transition: width .15s ease
                &:focus
                    &::before
                        width: 100%
                &.active
                    &::after
                        content: none
    .hero
        &__illustration
            &__scheme
                transform: skew(0, 0)
                div
                    height: 125px
    .sections
        &__scheme
            div
                height: 56px
        &__examples
            width: 100%
    .modal
        width: calc( 100% - 40px )
    .example
        &__pricing-tables
            &__trial
                text-align: center

@media (max-width: 768px)
    .hero
        &__text
            width: 100%
            text-align: center
        &__illustration
            display: none
    .sections
        &__block
            padding: 30px 0
            &__content
                row-gap: 10px
            &__title
                margin-bottom: 10px
            &__link
                margin-top: 10px
        &__properties
            flex-wrap: wrap-reverse
            row-gap: 20px
            margin-top: 0
            &__block
                width: 100%
        &__examples
            margin-top: 0
            &__links
                gap: 5px
            &__tab-links
                a:nth-child(2)
                    display: none
        &__scheme
            transform: skew(0, 0)
        &__example
            height: 300px
            width: 300px
    .footer
        padding: 10px 0
        margin-top: 50px
    .page-content
        padding: 0
        box-shadow: none
    .page-banner
        height: 180px
        margin-bottom: 30px
        &__background
            font-size: 4rem
    .page-block
        margin-bottom: 30px
        &__title
            margin-bottom: 10px
        &__content
            text-align: justify
            img
                width: 100%
        &__schemes
            gap: 10px
            margin: 10px 0
        &__scheme
            width: 210px
            div
                width: 40px
                height: 40px
            span
                font-size: 0.875rem
            &.fw, &.fwr
                img.arrow
                    width: 80%
            &.aifs, &.aife, &.aic, &.ais, &.aib
                height: 150px
                div
                    &:nth-of-type(1)
                        height: 40px
                    &:nth-of-type(2)
                        height: 56px
                    &:nth-of-type(3)
                        height: 24px
                    &:nth-of-type(4)
                        height: 64px
            &.ais
                div
                    &:nth-of-type(n)
                        height: auto
            &.acfs, &.acfe, &.acc, &.acs, &.acsb, &.acsa, &.acse
                height: 180px
            &.as
                height: 150px
                max-width: 100%
            &.order
                div
                    &:nth-child(2)
                        display: none
        &__examples
            gap: 10px
            margin-top: 10px
        &__example
            width: calc( 100% / 2 - 20px / 2 )
            &__scheme
                height: 150px
                padding: 10px
            &__content
                padding: 10px
    .modal
        &__title
            margin-bottom: 10px
        &__content
            &__scheme
                padding: 20px
                margin-bottom: 10px
    .example
        &__item-card
            padding: 10px
        &__icon-buttons
            padding: 10px
        &__pricing-tables
            gap: 10px
            &__table
                font-size: 0.875rem
            &__header
                padding: 10px
            &__body
                padding: 10px
            &__footer
                padding: 10px
        &__website-header
            padding: 4px 10px
        &__two-columns
            gap: 10px
            padding: 10px
            &__header
                padding: 10px
            &__column
                padding: 10px
            &__footer
                padding: 10px
        &__holy-grail
            gap: 10px
            padding: 10px
            &__header
                padding: 10px
            &__sidebar
                padding: 10px
            &__main
                padding: 10px
            &__footer
                padding: 10px

@media (max-width: 576px)
    .container
        padding: 0 15px
    .page-container
        padding: 0 15px
    .title
        font-size: 1.125rem
    .header
        &__menu
            &__open-menu
                padding: 19.82px 0
        &__links
            &__logo
                padding: 4.4px 0
    .hero
        margin-bottom: 50px
        &__text
            h1
                margin: 0 0 20px 0
                font-size: 1.5rem
    .sections
        &__scheme
            div
                height: 48px
                &:nth-of-type(1)
                    display: none
                &:nth-of-type(2)
                    display: none
                &:nth-of-type(3)
                    display: none
                &:nth-of-type(4)
                    display: none
        &__examples
            padding: 10px
            &__links
                flex-wrap: wrap
                margin-top: 10px
                transform: translateY(0)
                position: unset
    .footer
        text-align: center
    .page-banner
        height: 120px
        &__background
            font-size: 2rem
            letter-spacing: 0
        &__title
            font-size: 1.5em
    .page-block
        &__schemes
            margin: 10px 0
            &__fdc
                width: 100%
                gap: 10px
                justify-content: center
            &__fdr
                width: 100%
                gap: 10px
        &__scheme
            &.as
                div
                    &:nth-of-type(1), &:nth-of-type(2)
                        display: none
        &__example
            width: 100%
    .example
        &__scheme
            display: none
    .modal
        &__content
            &__scheme-image
                display: block

@media (max-width: 375px)
    .sections
        &__examples
            background: transparent
            box-shadow: none
            margin-top: 0
            padding: 0
            &__links
                margin-top: 0
            &__tab-links
                display: none
        &__example.active
            display: none