.page-banner
    position: relative
    height: 240px
    display: flex
    justify-content: center
    align-items: flex-end
    margin-bottom: 50px
    &__background
        position: absolute
        z-index: -1
        left: 0
        top: 50%
        bottom: 0
        right: 0
        transform: translateY(-50%)
        text-align: center
        font-size: 6rem
        line-height: 1
        margin: 0
        color: #0000fe
        opacity: 0.2
        letter-spacing: 1rem
        text-transform: uppercase
        white-space: nowrap
    &__title
        font-size: 3rem
        line-height: 1.2
        margin: 0
        text-align: center
        +bold

.page-content
    padding: 20px
    background-color: #ffffff
    box-shadow: 0px 0px 16px 0px rgba(34, 60, 80, 0.1)
    border-radius: 10px

.page-block
    margin-bottom: 50px
    &:last-child
        margin-bottom: 0
    &__title
        text-align: center
        margin-bottom: 20px
    &__text
        line-height: 1.5
        p
            margin: 10px 0 0 0
            &:first-child
                margin-top: 0
        img
            display: block
            margin: 0 auto
            margin-top: 10px
            width: 75%
        ul
            margin: 10px 0 0 0
            padding-inline-start: 16px
    &__schemes
        margin: 20px 0
        display: flex
        align-items: center
        justify-content: center
        gap: 20px
        &__row, &__column
            width: calc( 50% - 15px )
        &__row, &__column, &__justify-content, &__align-items, &__align-content, &__gap
            display: flex
            justify-content: center
            flex-wrap: wrap
            gap: 20px
    &__scheme
        display: flex
        align-items: center
        flex-wrap: wrap
        position: relative
        gap: 10px
        padding: 10px
        background: linear-gradient(135deg, #56ccf2 0%, #2f80ed 100%)
        border-radius: 10px
        box-shadow: 0px 0px 16px 16px rgba(47, 128, 237, 0.2)
        padding-top: 30px
        will-change: transform
        transition: transform .15s ease
        &:hover
            transform: scale(1.01)
        div
            background-color: #ffffff
            opacity: 0.5
            border-radius: 10px
            width: 56px
            height: 56px
            cursor: default
            will-change: transform
            transition: transform .15s ease
            &:hover
                transform: scale(1.02)
        span
            position: absolute
            text-align: center
            cursor: default
            opacity: 0.5
            right: 0
            left: 0
            top: 4px
            +bold
        img.arrow
            position: absolute
            opacity: 0.75
            z-index: 1
            margin: auto
        &.flex-direction-row, &.flex-direction-row-reverse
            img.arrow
                width: 75%
                right: 0
                left: 0
        &.flex-direction-column, &.flex-direction-column-reverse
            flex-direction: column
            padding-right: 30px
            padding-top: 10px
            span
                right: 4px
                top: 0
                bottom: 0
                writing-mode: vertical-rl
                text-orientation: mixed
            img.arrow
                width: unset
                height: 75%
                top: 0
                bottom: 0
        &.flex-wrap, &.flex-wrap-reverse
            max-width: 275px
            img.arrow
                position: unset
                opacity: 0.75
                z-index: 1
        &.justify-content-flex-start, &.justify-content-flex-end, &.justify-content-center, &.justify-content-space-between, &.justify-content-space-around, &.justify-content-space-evenly
            width: 275px
        &.justify-content-flex-start
            justify-content: flex-start
        &.justify-content-flex-end
            justify-content: flex-end
        &.justify-content-center
            justify-content: center
        &.justify-content-space-between
            justify-content: space-between
        &.justify-content-space-around
            justify-content: space-around
        &.justify-content-space-evenly
            justify-content: space-evenly
        &.align-items-flex-start, &.align-items-flex-end, &.align-items-center, &.align-items-center, &.align-items-stretch, &.align-items-baseline
            height: 180px
            div
                &:nth-of-type(1)
                    height: 56px
                &:nth-of-type(2)
                    height: 64px
                &:nth-of-type(3)
                    height: 32px
                &:nth-of-type(4)
                    height: 80px
        &.align-items-flex-start
            align-items: flex-start
        &.align-items-flex-end
            align-items: flex-end
        &.align-items-center
            align-items: center
        &.align-items-stretch
            align-items: stretch
            div
                &:nth-of-type(n)
                    height: auto
        &.align-items-baseline
            align-items: baseline
        &.align-content-flex-start, &.align-content-flex-end, &.align-content-center, &.align-content-stretch, &.align-content-space-between, &.align-content-space-around, &.align-content-space-evenly
            height: 200px
            max-width: 275px
            flex-wrap: wrap
        &.align-content-flex-start
            align-content: flex-start
        &.align-content-flex-end
            align-content: flex-end
        &.align-content-center
            align-content: center
        &.align-content-space-between
            align-content: space-between
        &.align-content-space-around
            align-content: space-around
        &.align-content-space-evenly
            align-content: space-evenly
        &.gap10, &.gap30, &.gap1030, &.column-gap, &.row-gap
            flex-wrap: wrap
            max-width: 275px
            align-content: flex-start
        &.gap10
            gap: 10px
        &.gap30
            gap: 30px
        &.gap1030
            gap: 10px 30px
        &.column-gap
            column-gap: 20px
        &.row-gap
            row-gap: 20px